<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<!--
<script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
   var hm = document.createElement("script");
     hm.src = "https://hm.baidu.com/hm.js?b9bf28432f475b38a9187537415efd7f";
       var s = document.getElementsByTagName("script")[0]; 
         s.parentNode.insertBefore(hm, s);
         })();
</script>


<link href="{% static 'css/huodong.css' %}" rel="stylesheet" type="text/css" />
<title>
借360 极速手机贷款神器
</title>
</head>
<body>
<!--
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    开始演示模态框
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <div class="modal-body">
                <input>
                </input>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>
-->

    <div class="banner" style="margin-bottom:1.5rem; margin-top:0.5rem; margin-left: 0.75rem; margin-right:0.75rem;">
        <!--       <img  src="{% static 'images/jidaihaibao.jpeg' %}" height="150" width="100%"> -->
    </div>

    <div class="list">


        <div style="text-align: center;">
            <font size="2" color="yellow">
            <strong>
        各家产品门槛高低不一，为了提升下款率，请多注册几个产品
            </strong>
            </font>

            <br>
            <font size="2" color="yellow">
            <strong>
                更多新口子，请加微信公众号：<font size="5">money365365</font>
            </strong>
            </font>
        </div>

    <ul id="myTab" class="nav nav-pills">
        <li class="active" >
            <a href="#home" data-toggle="tab" color="yellow">
                
            <font size="4" color="yellow">
             热门贷款
         </font>
            </a>
        </li>
        <li>
            <a href="#dae" data-toggle="tab">
            <font size="4" color="yellow">
            大额贷款
        </font>
            </a>
        </li>
        <li><a href="#xiaoe" data-toggle="tab">
            <font size="4" color="yellow">
            小额贷款
        </font>
        </a></li>

        <!--
        下拉菜单
        <li class="dropdown">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" 
               data-toggle="dropdown">小额 
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
                <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
            </ul>
        </li>
        -->
        
    </ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active"  id="home">
    <ul>
        <li>
            <a  href="http://t.cn/RnsP8kS" onclick="_hmt.push(['_trackEvent', '51闪电购', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/shandiango.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    热门贷0
                                    <!--    <img class="blue-tip" src="http://www.beyond-info.cn/Scripts/H5/Daikuan/dkcs/images/de.png" -->
                        </div>
                        <div class="second-text">仅需2步 可贷5000</div>
                        <div class="third-text">分秒到账 绝不套路</div>
                    </dd>
                </dl>
            </a>
        </li>
 
          <li>
            <a  href="http://tuanzidai.cn/frontend_loan_service/common?appid=3&channel=120606&funid=105&rt=1000" onclick="_hmt.push(['_trackEvent', '菠萝带', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/boluo.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    热门贷1
                        </div>
                        <div class="second-text">可贷 1000- 5000</div>
                        <div class="third-text">借款被拒就赔50元，5分钟放款</div>
                    </dd>
                </dl>
            </a>
        </li>
    </ul>    
    </div>
<div class="tab-pane fade "  id="dae">
    <ul>
        <li>
            <a  href="http://t.cn/RnsP8kS" onclick="_hmt.push(['_trackEvent', '51闪电购', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/shandiango.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    大额0
                                    <!--    <img class="blue-tip" src="http://www.beyond-info.cn/Scripts/H5/Daikuan/dkcs/images/de.png" -->
                        </div>
                        <div class="second-text">仅需2步 可贷5000</div>
                        <div class="third-text">分秒到账 绝不套路</div>
                    </dd>
                </dl>
            </a>
        </li>
 
          <li>
            <a  href="http://tuanzidai.cn/frontend_loan_service/common?appid=3&channel=120606&funid=105&rt=1000" onclick="_hmt.push(['_trackEvent', '菠萝带', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/boluo.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    大额贷1
                        </div>
                        <div class="second-text">可贷 1000- 5000</div>
                        <div class="third-text">借款被拒就赔50元，5分钟放款</div>
                    </dd>
                </dl>
            </a>
        </li>
    </ul>    
    </div>
     <div class="tab-pane fade "  id="xiaoe">
    <ul>
        <li>
            <a  href="http://t.cn/RnsP8kS" onclick="_hmt.push(['_trackEvent', '51闪电购', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/shandiango.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    小额0
                                    <!--    <img class="blue-tip" src="http://www.beyond-info.cn/Scripts/H5/Daikuan/dkcs/images/de.png" -->
                        </div>
                        <div class="second-text">仅需2步 可贷5000</div>
                        <div class="third-text">分秒到账 绝不套路</div>
                    </dd>
                </dl>
            </a>
        </li>
 
          <li>
            <a  href="http://tuanzidai.cn/frontend_loan_service/common?appid=3&channel=120606&funid=105&rt=1000" onclick="_hmt.push(['_trackEvent', '菠萝带', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/boluo.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    小额1
                        </div>
                        <div class="second-text">可贷 1000- 5000</div>
                        <div class="third-text">借款被拒就赔50元，5分钟放款</div>
                    </dd>
                </dl>
            </a>
        </li>
    </ul>    
    </div>
   
</div>
    
    </div>

    
    <div class="back-top clearfix">
        <i id="back" style="display: block;"></i>
    </div>

    <script>
    $(function () {
        $("#back").on("click", function () {
            $('body,html').animate({
                scrollTop: 0
                }, 500);
            });
        });

    </script>
</body>
</html>
