<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<!--
<script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
   var hm = document.createElement("script");
     hm.src = "https://hm.baidu.com/hm.js?b9bf28432f475b38a9187537415efd7f";
       var s = document.getElementsByTagName("script")[0]; 
         s.parentNode.insertBefore(hm, s);
         })();
</script>


<link href="{% static 'css/huodong.css' %}" rel="stylesheet" type="text/css" />
<title>
借360 极速手机贷款神器
</title>
</head>
<body>
<iframe width= "100%" height="85%" src="http://www.365think.cn/wuqian/test">
</iframe>
        <div style="text-align: center;">
            <font size="2" color="yellow">
            <strong>
        各家产品门槛高低不一，为了提升下款率，请多注册几个产品
            </strong>
            </font>

            <br>
     <font size="2" color="yellow">
            <strong>
                更多新口子，请加微信公众号：<font size="5">money365365</font>
            </strong>
            </font>
            <br>
            <a href="http://www.365think.cn/wuqian/iframe">
                <font size="2" color="red">
                <strong>
                    返回首页
                </strong>
                </font>
            </a>
        </div>
    <div class="back-top clearfix">
        <i id="back" style="display: block;"></i>
    </div>

    <script>
    $(function () {
        $("#back").on("click", function () {
            $('body,html').animate({
                scrollTop: 0
                }, 500);
            });
        });

    </script>
</body>
</html>
