<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<!--
<script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
   var hm = document.createElement("script");
     hm.src = "https://hm.baidu.com/hm.js?b9bf28432f475b38a9187537415efd7f";
       var s = document.getElementsByTagName("script")[0]; 
         s.parentNode.insertBefore(hm, s);
         })();
</script>


<link href="{% static 'css/huodong.css' %}" rel="stylesheet" type="text/css" />
<title>
借360 极速手机贷款神器
</title>
</head>
<body class="position-re">
<!--
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    开始演示模态框
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <div class="modal-body">
                <input>
                </input>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>
-->
    <div class="banner" style="margin-bottom:1.5rem; margin-top:0.5rem; margin-left: 0.75rem; margin-right:0.75rem;">
        <!--       <img  src="{% static 'images/jidaihaibao.jpeg' %}" height="150" width="100%"> -->
    </div>

    <div class="list">
        <ul>


        <div style="text-align: center;">
            <font size="2" color="yellow">
            <strong>
        各家产品门槛高低不一，为了提升下款率，请多注册几个产品
            </strong>
            </font>

            <br>
            <!--
     <font size="2" color="yellow">
            <strong>
                更多新口子，请加微信公众号：<font size="5">money365365</font>
            </strong>
            </font>
            -->
        </div>
 
        <!--
    <li>
            <a  href="http://msy.7edao.com/promotion/index/index?platform=13" onclick="_hmt.push(['_trackEvent', '马上用', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/mashanglai.jpg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                            马上用
                        </div>
                        <div class="second-text">可贷 1000-10000</div>
                        <div class="third-text">注册即批，手机申请即到账</div>
                    </dd>
                </dl>
            </a>
        </li>
        -->
        <!--

    <li>
            <a  href="https://aajr.fanzhoutech.com/mobile/phoneverification?par=69D9C3CDAB1E15666D682496C11FDCC5" productid="BLD" onclick="_hmt.push(['_trackEvent', '发信贷', '点击', '注册']);"class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/faxindai.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    发信贷
                        </div>
                        <div class="second-text">最新口子</div>
                        <div class="third-text">1分钟申请 5分钟下款</div>
                    </dd>
                </dl>
            </a>
        </li>


     <li>
            <a  href="https://mfqb.fanzhoutech.com/mobile/applyform?par=B1577D94167F638D5E84C235B224D463" onclick="_hmt.push(['_trackEvent', '梦飞', '点击', '注册']);"  productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/mengfei.png' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    梦飞钱包
                        </div>
                        <div class="second-text">可贷 1000- 20000</div>
                        <div class="third-text">芝麻分580以上 秒批</div>
                    </dd>
                </dl>
            </a>
        </li>   

        -->
        <!--
 
     <li>
            <a  href="http://t.cn/R1k9RUX" onclick="_hmt.push(['_trackEvent', '速贷管家', '点击', '注册']);"  productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/sudaiguanjia.jpg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    速贷管家
                        </div>
                        <div class="second-text">可贷 100- 5000</div>
                        <div class="third-text">手机号/身份证即可申请</div>
                    </dd>
                </dl>
            </a>
        </li>   

          <li>
            <a  href="https://h5.91jsgo.com/template/show?channelId=b0729f26a2684cfbba815ffba2e6ead1" onclick="_hmt.push(['_trackEvent', '极速购', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/jisugou.png' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    极速购
                        </div>
                        <div class="second-text">可贷1000-5000</div>
                        <div class="third-text">手机申请 小额 极速放款</div>
                    </dd>
                </dl>
            </a>
        </li>

        -->
    <!--
     <li>
            <a  href="http://api.uphone360.com/borrowUser/toTgRedister/?code=9aa0e80f41c262b21b054c0557d5dbd4" onclick="_hmt.push(['_trackEvent', 'shoujibianxian', '点击', '注册']);"  productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/shoujibianxian.jpg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    手机变现
                        </div>
                        <div class="second-text">可贷1000-10000</div>
                        <div class="third-text">秒下款 手机号即可申请</div>
                    </dd>
                </dl>
            </a>
        </li>   
        -->

    <li>
            <a  href="http://jieqian.2345.com/web/index.html?channel=bx-wuqian02_cpr_sj" onclick="_hmt.push(['_trackEvent', 'huaqian', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/hua.png' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                            花钱无忧
                        </div>
                        <div class="second-text">可贷 5000-50000</div>
                        <div class="third-text">极速贷款 不查征信</div>
                    </dd>
                </dl>
            </a>
        </li>
        <!--

    <li>
            <a  href="https://www.jxqianbao.com/home/#/home?ref=shhascpa" onclick="_hmt.push(['_trackEvent', 'juxin', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/juxinqianbao.png' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                           聚信钱包 
                        </div>
                        <div class="second-text">可贷 500-100000</div>
                        <div class="third-text">身份证即可贷，3分钟下款</div>
                    </dd>
                </dl>
            </a>
        </li>
    <li>
            <a  href="http://qudao.kuaicai888.cn/miaosu/def/?cid=95" onclick="_hmt.push(['_trackEvent', 'qudao', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/qudao.png' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                           速贷钱包 
                        </div>
                        <div class="second-text">可贷 1000-50000</div>
                        <div class="third-text">最快56秒下款 实时审核</div>
                    </dd>
                </dl>
            </a>
        </li>
        -->

        <!--

    <li>
            <a  href="http://t.cn/RE353SP" productid="BLD" onclick="_hmt.push(['_trackEvent', '爱信', '点击', '注册']);" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/aixin.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                            爱信
                        </div>
                        <div class="second-text">可贷500-50000</div>
                        <div class="third-text">无门槛 必下款</div>
                    </dd>
                </dl>
            </a>
        </li>
   

    <li>
            <a  href="https://jqya.51duanqidai.com/user/spread?channel=yizhen20" productid="BLD" onclick="_hmt.push(['_trackEvent', 'laozhangyouqian', '点击', '注册']);"class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/laozhang.jpg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    老张有钱
                        </div>
                        <div class="second-text">新口子-快准狠</div>
                        <div class="third-text">秒下款-高通过率</div>
                    </dd>
                </dl>
            </a>
        </li>

   -->

    <li>
            <a  href="https://m.51kabao.cn/app2/register2/?akey=42c28566e5204dbaa313c079cbfc4e2b&atag=10436&asty=2" onclick="_hmt.push(['_trackEvent', '51卡宝', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/51kabao.jpg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                            51卡宝
                        </div>
                        <div class="second-text">可贷 1000-50000</div>
                        <div class="third-text">无门槛 下款快 利息低至0.25%/月</div>
                    </dd>
                </dl>
            </a>
        </li>


    <li>
            <a  href="http://daikuan.kanzhundai.com/m/daikuan/multiple/index.jsp?s=309&c=1549&cp=pa" onclick="_hmt.push(['_trackEvent', '51卡宝', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/suiyidai.png' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                            借云
                        </div>
                        <div class="second-text">最高可贷300000</div>
                        <div class="third-text">快至30分钟放款</div>
                    </dd>
                </dl>
            </a>
        </li>



        <!--
         <li>
            <a  href="http://t.cn/RnsP8kS" onclick="_hmt.push(['_trackEvent', '51闪电购', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/shandiango.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    51闪电购
                        </div>
                        <div class="second-text">无视黑户 可贷5000</div>
                        <div class="third-text">分秒到账 绝不套路</div>
                    </dd>
                </dl>
            </a>
        </li>

    -->
        <!--
    <li>
            <a  href="http://hlqb.fanzhoutech.com/mobile/applyform?par=D4F72C2EF434423C76005D455AFBF514" onclick="_hmt.push(['_trackEvent', '华龙期宝', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/hualong.png' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                            华龙期宝
                        </div>
                        <div class="second-text">最高可贷30000</div>
                        <div class="third-text">5分钟下款 不上征信</div>
                    </dd>
                </dl>
            </a>
        </li>
        -->
 
          <li>
            <a  href="http://jjd.emsxsrx.top/jyp.page#/reg?channelid=1899" onclick="_hmt.push(['_trackEvent', '菠萝带', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/wuxiandai.jpg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    无限贷
                        </div>
                        <div class="second-text">可贷 1000- 5000</div>
                        <div class="third-text">借款被拒就赔50元，5分钟放款</div>
                    </dd>
                </dl>
            </a>
        </li>
 
          <li>
            <a  href="http://www.emsxsrx.top/jyp.page#/reg?channelid=1296" onclick="_hmt.push(['_trackEvent', 'daikuanwang', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/suibianhua.jpg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                随便花
                        </div>
                        <div class="second-text">可贷500-30000</div>
                        <div class="third-text">用身份证就能借</div>
                    </dd>
                </dl>
            </a>
        </li>

<!--
     <li>
            <a  href="https://mfqb.fanzhoutech.com/mobile/applyform?par=B1577D94167F638D5E84C235B224D463" onclick="_hmt.push(['_trackEvent', '随意贷', '点击', '注册']);"  productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/suiyidai.png' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    随意贷
                        </div>
                        <div class="second-text">可贷 1000-20000</div>
                        <div class="third-text">无视黑白户 极速秒批</div>
                    </dd>
                </dl>
            </a>
        </li>   

         <li>
            <a  href="http://t.cn/RnHpwIU" productid="BLD" onclick="_hmt.push(['_trackEvent', '淘钱宝', '点击', '注册']);" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/taoqianbao.png' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    淘钱宝
                        </div>
                        <div class="second-text">借钱救济</div>
                        <div class="third-text">额度高 下款快 利息低</div>
                    </dd>
                </dl>
            </a>
        </li>
        -->

        <!--
        <li>
            <a  href="http://rhjr.fanzhoutech.com/mobile/phoneverification?par=A10382655C53D1EBCA17B28ABFEE292C" onclick="_hmt.push(['_trackEvent', '来点米', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/laidianmi.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    来点米
                        </div>
                        <div class="second-text">可贷 1000- 5000</div>
                        <div class="third-text">手机号认证 芝麻分认证 秒批5000</div>
                    </dd>
                </dl>
            </a>
        </li>

        -->
<!--
      <li>
            <a  href="http://b.yicaidao.cn/click/170/2500-17560.htm?m=Mobile" onclick="_hmt.push(['_trackEvent', '壹财道', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/yicaidao.png' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    壹财道
                        </div>
                        <div class="second-text">最高可贷50万</div>
                        <div class="third-text">银行资金渠道 利息低至4厘</div>
                    </dd>
                </dl>
            </a>
        </li>
        -->
        <!--
        <li>
            <a  href="http://m.dai.360.cn/index/redpacket2?no_scheme=1&src=ask4&" onclick="_hmt.push(['_trackEvent', '360贷款导航', '点击', '注册']);" productid="BLD" class="list-a">
                <dl class="list-con clearfix">
                    <dt>
                    <img class="list-logo" src="{% static 'images/360.jpeg' %}">
                    </dt>

                    <dd>
                        <div class="first-text">
                                    360贷款导航
                        </div>
                        <div class="second-text">最高可贷20万</div>
                        <div class="third-text">借款免息还送钱  送180元信任礼包</div>
                    </dd>
                </dl>
            </a>
        </li>
        --> 

      <ul>
    </div>

        <div style="text-align: center;">
            <font size="2" color="yellow">
            <strong>
        各家产品门槛高低不一，为了提升下款率，请多注册几个产品
            </strong>
            </font>

            <br>
            <!--
     <font size="2" color="yellow">
            <strong>
                更多新口子，请加微信公众号：<font size="5">money365365</font>
            </strong>
            </font>
            -->
        </div>
    <div class="back-top clearfix">
        <i id="back" style="display: block;"></i>
    </div>

    <script>
    $(function () {
        $("#back").on("click", function () {
            $('body,html').animate({
                scrollTop: 0
                }, 500);
            });
        });

    </script>
</body>
</html>
